[Service]
ExecStart=/usr/bin/node /home/blood-banya/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=blood-banya
User=srv-blood-banya
Group=srv-blood-banya
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target